*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html, body{
  font-family: Montserrat;
  font-size: 13px;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 0em;
  text-align: left;

}
.header{
  margin: 0 auto;
  width: 1504px;
}
.header .row{
  height: 50px;
}
.header .row > div{
  margin: 12px 0 18px;
}
.row > div{
  display:inline-block;
}
.region > *, .address > *{
  line-height: 20px;
}
.region{
  width: 16.5%;
  max-width: 237px;
}

.address{
  width: 33%;
  max-width: 419px;
}